@font-face {
    font-family: 'LeferiPoint-BlackA';
    //src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff');
    src: url('./fonts/LeferiPoint-BlackA.woff');
    font-weight: normal;
    font-style: normal;
}
